@charset "UTF-8";
/*
Design By Away
http://www.dfuns.idv.tw
*/


.list{ list-style:none; margin:0; padding:0;}

.sliderBox{ background:#EBEBEB; border:solid 1px #A87B14; width:66.6%; border-radius:10px; overflow:hidden; position:fixed; padding-bottom:15px; margin:auto; left: 16.6%; bottom: 100px;}
.sliderBox h2{ text-shadow:0 0 5px #039; text-align:center; line-height:2.5em; font-size:1.2em; color:#EEE; margin:0; border-radius:10px 10px 0 0;
	background:#09C;
	background:-moz-linear-gradient(#09C, #6CF);
	background:-webkit-linear-gradient(#09C, #6CF);
	background:-o-linear-gradient(#09C, #6CF);
	background:-ms-linear-gradient(#09C, #6CF);}

.slider{ padding:20px 0 10px; width:85%; height:120px; overflow:hidden; margin:auto; position:relative;}
.slider ul{ overflow:hidden; width:1992px; position:absolute; left:0;}
.slider li{ float:left; margin:0 10px; text-align:center;}
.slider a{ display:inline-block; width:140px; height:90px; padding:2px; overflow:hidden; border:solid 1px #CCC; margin-bottom:5px;}
.slider a:hover{ border-color:#039;}

.status{ text-align:center; margin-top:5px; position:relative\9; *margin-left:435px;}
.status li{ cursor:pointer; background:#FFF; display:inline-block; text-indent:-9999px; border:2px solid #CCC; width:8px; height:8px; border-radius:100%; margin:0 5px; *float:left; }
.status li.now{ background:#09C; border-color:#999;}

.dIcon{ text-indent:-9999px; position:absolute; top:90px; display:block; width:20px; height:20px; background:url(../image/all.png) no-repeat; width:38px; height:47px;}
.next{ right:10px; background-position:-44px -2px;top: 50px;}
.prev{ left:10px; background-position:0 -2px;top: 50px;}
.next:hover{ background-position:-44px -55px;top: 50px;}
.prev:hover{ background-position:0 -55px;top:50px;}

