html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

body {
    width: 100%;
    height: auto;
}

.block {
    min-width: 45%;
    max-width: 45%;
    float: left;
    display: flex;
    margin: 10px 1%;
    height: 220px;
}
.block > img{
	height: 180px;
    width: 200px;
	margin-top:10px;
}

li {
    max-width:250px;
    word-wrap: break-word;
    list-style: none;
}

.starter-template {
    width: 100%;
    height: auto;
}
h5{
    font-size: 15px;
}