<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>幼兒園聯絡簿</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{%static "assets/css/bootstrap.css "%}" rel="stylesheet">
    <!--external css-->
    <link href="{%static "assets/font-awesome/css/font-awesome.css "%}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{%static "assets/css/zabuto_calendar.css "%}">
    <link rel="stylesheet" type="text/css" href="{%static "assets/js/gritter/css/jquery.gritter.css "%}"/>
    <link rel="stylesheet" type="text/css" href="{%static "assets/lineicons/style.css "%}">
    <!-- Custom styles for this template -->
    <link href="{%static "assets/css/style.css "%}" rel="stylesheet">
    <link href="{%static "assets/css/style-responsive.css "%}" rel="stylesheet">
    <script src="{%static "assets/js/chart-master/Chart.js "%}"></script>
    <style type="text/css">
        p{font-size: 20px;}
        .loader {
          border: 8px solid #999999;
          border-radius: 50%;
          border-top: 8px solid #FACF7F;
          position: fixed;
          width: 60px;
          height: 60px;
          -webkit-animation: spin 2s linear infinite; /* Safari */
          animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    </style>
</head>

<body>
    <section id="container">
    {%block content%}
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>幼兒園聯絡簿</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/accounts/logout/">Logout</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
       <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <h5 class="centered" style="margin-bottom: 0px;" val="{{user.email}}">{{user.email}}</h5>
                    <li class="mt" >
                        <a class="" href="/index">
                            <i class="fa fa-dashboard"></i>
                            <span>新增班級以及學生資料</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ebook">
                            <i class="fa fa-dashboard"></i>
                            <span>新增電子書資料</span>
                        </a>
                    </li>
                    <li>
                      <a class="" href="/contactindex">
                            <i class="fa fa-dashboard"></i>
                            <span>新增聯絡簿資料</span>
                        </a>
                    </li>
                    <li>
                      <a class="" href="/adddailyrecord">
                            <i class="fa fa-dashboard"></i>
                            <span>新增教師日誌資料</span>
                        </a>
                    </li>
                    <li>
                      <a class="" href="/addannounce">
                            <i class="fa fa-dashboard"></i>
                            <span>新增校園公告</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sideba
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->

        <section id="main-content">
            <section class="wrapper">
            <div class="row mt">
                <div class="col-lg-12">
                  <div class="form-panel" style="font-size: 18px; font-weight: 700;">
                      <h4 class="mb" value=""><i class="fa fa-angle-right"></i>電子書資料新增</h4>
                      <form class="form-horizontal style-form" method="POST" id="postebookindex">
                        {% csrf_token %}
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">新增電子書名稱：</label>
                              <div class="col-sm-10">
                                  <input type="text"  class="form-control" placeholder="請輸入電子書名稱" name="title" id="id_title">
                              </div>
                          </div>
                          <div id="loader" class="loader" style="margin-left: 33%;"></div>
                          <div class="form-group" >
                            <label class="col-sm-2 col-sm-2 control-label">新增電子書名稱：</label>
                            <div class="col-sm-10">
                              <input id="id_image" name="image" type="file" name="image">
                              <input id="id_user" name="user" type="text" value="{{user.email}}" style="display: none;">
                            </div>
                          </div>
                          <button type="button" id="btnaddebook" class="btn btn-success">新增電子書</button>
                      </form>
                  </div>
                </div><!-- col-lg-12-->         
            </div><!-- /row -->
            <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                              <h4><i class="fa fa-angle-right"></i>已送出資料</h4>
                              <hr>
                              <thead>
                              <tr>
                                  <th>電子書名稱</th>
                                  <th>電子書圖片</th>
                                  <th>電子書創建者</th>
                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              {%for ebook in ebook%}
                              <tr>
                                  <td><a href="/addebookdetail/{{ebook.id}}">{{ebook.title}}</a></td>
                                  <td><img src="{{ebook.image.url}}" style="width: 400px; height: 200px;"></td>
                                  <td>{{ebook.user}}</td>
                                  <td>
                                      <a class="btn btn-danger btn-xs" id="" href="/deletebook/{{ebook.id}}"><i class="fa fa-trash-o"></i></a>
                                  </td>
                              </tr>
                              {%endfor%}
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->
            </section>
        </section>
        
    </section>
    <script src="{%static "assets/js/jquery.js "%}"></script>
    <script src="{%static "assets/js/jquery-1.8.3.min.js "%}"></script>
    <script src="{%static "assets/js/bootstrap.min.js "%}"></script>
    <script class="include" type="text/javascript" src="{%static "assets/js/jquery.dcjqaccordion.2.7.js "%}"></script>
    <script src="{%static "assets/js/jquery.scrollTo.min.js "%}"></script>
    <script src="{%static "assets/js/jquery.nicescroll.js "%}" type="text/javascript"></script>
    <script src="{%static "assets/js/jquery.sparkline.js "%}"></script>
    <!--common script for all pages-->
    <script src="{%static "assets/js/common-scripts.js "%}"></script>
    <script type="text/javascript" src="{%static "assets/js/gritter/js/jquery.gritter.js "%}"></script>
    <script type="text/javascript" src="{%static "assets/js/gritter-conf.js "%}"></script>
    <!--script for this page-->
    <script src="{%static "assets/js/sparkline-chart.js "%}"></script>
    <script src="{%static "assets/js/zabuto_calendar.js "%}"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAZqDKfA9ikHD-tVtDQbf3Zl0xbEJqWHsc",
            authDomain: "androidpackages-e5a5c.firebaseapp.com",
            databaseURL: "https://androidpackages-e5a5c.firebaseio.com",
            projectId: "androidpackages-e5a5c",
            storageBucket: "androidpackages-e5a5c.appspot.com",
            messagingSenderId: "298309886865"
        };
        firebase.initializeApp(config);
    </script>
    <script type="text/javascript">

      $(document).ready(function(){
        $("#loader").hide();
        $('#btnaddebook').click(function(){
          var x=document.getElementById('id_image');
          uploadImageAsPromise(x.files[0]);
          var myForm=document.getElementById('postebookindex')
          formData=new FormData(myForm);
          $.ajax({
            type:'POST',
            url:'/addebook/',
            data:formData,
            cache:false,
            contentType: false,
            processData: false,
            async: false,
            success:function(){
              $("#loader").show();
              $(".form-panel").css('background-color','#EBEBEB'); 
            }
          });
        });
        function uploadImageAsPromise(imageFile){
          var title=$("#id_title").val();
          var storageRef = firebase.storage().ref("Ebooks/"+title+"/"+imageFile.name);
          var task=storageRef.put(imageFile);
          task.on('state_changed',
            function progress(snapshot){

            },
            function error(err){

            },
            function complete(){
              var title =$("#id_title").val();
              var downloadURL=task.snapshot.downloadURL;
              var updates={}
              var postData={
                url:downloadURL,
                name:$('#id_title').val(),
                contact:$('#id_user').val(),
              };
              updates['/ebook_detail/'+title+"/"]=postData;
              firebase.database().ref().update(updates);
              document.getElementById('postebookindex').reset();
              setTimeout(location.reload.bind(location), 3000);
            });
        }
      });
      
    </script>
    
   
        
    </script>
    {%endblock%}
</body>

</html>
